---
import Message from "../lib/Message";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro form actions demo</title>
  </head>
  <body class="max-w-md px-4 mx-auto py-12">
	<Message />
  </body>
</html>
